/*
    Author : Thibault Cheneviere
    Date : 28/09/2021
*/
/* Start CSS for deletedMessageList.html */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #535fe6;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.deletedSurveys {
    margin-top: 50px;
    margin-bottom: 50px;
}

.deletedSurveys button {
    background-color: #1c1e21;
}

.dropdown-menu-dark {
    background-color: #1c1e21;
}

.deletedSurveys .btn-secondary:focus {
    background-color: #1c1e21;
}

.deletedSurveys .btn-secondary:hover {
    background-color: #535fe6;
    border-color: #fff;
}

/* End CSS for deletedMessageList.html */