/*
    Author : Thibault Cheneviere
    Date : 28/09/2021
*/
/* Start CSS for signup.html */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #535fe6;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background-color: #1c1e21;
    color: #fff
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-select {
    position: relative;
    height: 50px;
    background-color: #1c1e21;
    text-indent: 24px;
    font-size: 15px;
    color: #fff
}

.form-select i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px;
}

.form-select:focus {
    background-color: #25272a;
    box-shadow: none;
    color: #fff;
    border-color: #4f63e7
}

.form-control {
    height: 50px;
    background-color: #1c1e21;
    text-indent: 24px;
    font-size: 15px;
    color: #fff
}

.form-control:focus {
    background-color: #25272a;
    box-shadow: none;
    color: #fff;
    border-color: #4f63e7
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 50px;
    font-size: 14px
}

/* Start CSS for signup.html */