<!--
    Author : Thibault Cheneviere
    Date : 13/10/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/adminPanel.css') }}">
    


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Modification</th>
            </tr>
        </thead>
    {% for users in usersList %}
        <tr>
            <form action="">
                <th><input class="username form-control"  name="username" type="text" value="{{ users[0] }}"></th>
                <th><input class="email form-control" name="email" type="text" value="{{ users[1] }}"></th>
                <th><input class="role form-control" name="role" type="text" value="{{ users[2] }}"></th>
                <th><button class="btn btn-primary">Modify</button></th>
            </form>
    {% endfor %}
    </table>
{% endblock container %}