<!--
    Author : Thibault Cheneviere
    Date : 28/09/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    
    {% with messages = get_flashed_messages(category_filter=[""]) %}
    {% if messages %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            {{ messages[0] }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.login_validation') }}" method="POST">
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5">
                        <div class="form-input">
                            <i class="fa fa-envelope"></i> 
                            <input type="text" class="form-control" placeholder="Adresse mail" name="eMail" id="mailInput">
                        </div>
                        <div class="form-input">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" placeholder="Mot de passe" name="password" id="pwdInput">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="remember" checked>
                            <label class="form-check-label" for="flexCheckChecked">Se souvenir de moi</label>
                        </div>
                        <button class="btn btn-primary mt-4 signup">Login</button>
                        <div class="text-center mt-4">
                            <span>Vous n'êtes pas membre ?</span>
                            <a href="/signup" class="text-decoration-none">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock container %}