{% extends 'layout.html' %}

{% block container %}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="{{ url_for('static', filename='js/signupFocus.js') }}"></script>
    

    <div class="login-container">
        <form action="{{ url_for('post_login') }}" method="POST">
            <h2>Bienvenue</h2>
            <div class="input-div one focus">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <h5 id="userName">Nom de compte</h5>
                    <input autocomplete="off"id="userNameInput" class="input" type="text" name="username" onfocus="onFocusUser()" onfocusout="onFocusOutUser()" required>
                </div>
            </div>
            <div class="input-div two focus">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <h5 id="pwd">Mot de passe</h5>
                    <input id="pwdInput" class="input" type="password" name="password" onfocus="onFocusPwd()" onfocusout="onFocusOutPwd()" required>
                </div>
            </div>
            <a href="#">Mot de passe oublié ?</a>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
{% endblock container %}