<!--
    Author : Thibault Cheneviere
    Date : 13/10/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/message.css') }}">
    

    <!-- Script dependancies -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>


    <div class="home-banner">
        <h2>Messages publiés</h2>
    </div>

    {% for survey in surveys %}
    <div class="form-control position-relative">
        <form action="{{ url_for('main.addLike') }}" method="POST" id="formAddLike">
            <div class="form-control-plaintext">
                Auteur : {{ survey[0] }}
            </div>
            <div class="form-control-plaintext">
                Titre : {{ survey[1] }}
            </div>
            <div class="form-control-plaintext">
                Contenu : {{ survey[2] }}
            </div>
            <div class="nb-like position-absolute top-100 start-100 translate-middle">
                <button value="{{ survey[4] }}" class="fas fa-thumbs-up btn btn-primary position-relative" name="messageID" form="formAddLike">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger icon-0x">
                        {{ survey[3] }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
        </form>
        {% if current_user.role == 1 %}
        <form action="{{ url_for('main.removeMessage') }}" method="POST" id="formRemoveMessage">
            <div class="position-absolute top-0 start-100 translate-middle">
                <button type="submit" value="{{ survey[4] }}" class="fas fa-times btn btn-primary position-relative deleteBtn" name="deleteBtn" form="formRemoveMessage">
                </button>
            </div>
        </form>
        {% endif %}
    </div>
    {% endfor %}
{% endblock container %}