<!--
    Author : Thibault Cheneviere
    Date : 13/10/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">
    


    <div class='home-banner'>
        <h2>Bienvenue {{ profileData['name'] }}</h2>
    </div>
    <div>
        <div class="information">
            <p>Email : {{  profileData['email']  }}</p>
            <p>Role : {{  profileData['role']  }}</p>
        </div>
    </div>
{% endblock container %}