<!--
    Author : Thibault Cheneviere
    Date : 13/10/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">

    <div class='home-banner'>
        <h2>Bienvenue {{ profileData['firstName'].title() + " " + profileData['lastName'].title() }}</h2>
    </div>
    <div>
        <div class="information">
            <form action="{{ url_for('profile.profile_form_validation') }}" method="POST">
                <div class="form-control">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="emailValue" value="{{ profileData['email'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Role :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="roleValue" value="{{ profileData['role'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">First Name :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="firstnameValue" value="{{ profileData['firstName'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Last Name :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="lastnameValue" value="{{ profileData['lastName'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Gender :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="lastnameValue" value="{{ profileData['lastName'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Birth Date :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="lastnameValue" value="{{ profileData['birthDate'] }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Adress :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="adressValue" value="{{ profileData['adress'] }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">City :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="adressValue" value="{{ profileData['adress'] }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Postal Code :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="adressValue" value="{{ profileData['adress'] }}">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary mt-4 Signup" value="Sauvegarder les modifications" type="submit" id="btnSubmit">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock container %}