<!--
    Author : Thibault Cheneviere
    Date : 13/10/2021
-->

{% extends 'layout.html' %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/usersList.css') }}">
    
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Modification</th>
            </tr>
        </thead>
    {% for users in usersList %}
        <tr>
            <form action="{{ url_for('admin.users_panel_validation') }}" method="POST">
                <th><input class="username form-control"  name="username" type="text" value="{{ users[1] }}" readonly></th>
                <th><input class="username form-control"  name="username" type="text" value="{{ users[2] }}" readonly></th>
                <th><input class="email form-control" name="email" type="text" value="{{ users[3] }}" readonly></th>
                <th><input class="role form-control" name="role" type="text" value="{{ users[4] }}"></th>
                <th><button value="{{ users[0] }}" class="btn btn-primary" name="userId">Modify</button></th>
            </form>
    {% endfor %}
    </table>
{% endblock container %}